name: CI/CD Pipeline

on:
  push:
    branches:
      - dev
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY1 }}
          port: 22
          command_timeout: 30m
          script: |
            cd ~/flask-ec2-ci-cd
            git pull origin ${{ github.ref_name }}
            
            # Kill the specific process based on branch to avoid port conflicts
            if [ "${{ github.ref_name }}" == "dev" ]; then
              fuser -k 4000/tcp || true
              APP_ENV=dev APP_PORT=4000 nohup /usr/bin/python3 app.py > dev.log 2>&1 &
            fi

            if [ "${{ github.ref_name }}" == "main" ]; then
              fuser -k 5000/tcp || true
              APP_ENV=live APP_PORT=5000 nohup /usr/bin/python3 app.py > live.log 2>&1 &
            fi
            
            echo "Deployment successful for ${{ github.ref_name }}"
